NEXT_PUBLIC_SITE_URL="https://your-project.vercel.app"

NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=""
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=""

RAPIDAPI_KEY=""
RAPIDAPI_HOST="edb-with-videos-and-images-by-ascendapi.p.rapidapi.com"
EXERCISE_API_BASE_URL="https://edb-with-videos-and-images-by-ascendapi.p.rapidapi.com"
EXERCISE_API_VERSION="/api/v1"

FIREBASE_SERVICE_ACCOUNT_JSON=""
